/* Move down content because we have a fixed navbar that is 50px tallles textarea ne sont plus resizables */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

textarea {
  resize:none;
}

/* Style for valid or Invalid form entry */
input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}
