/* Move down content because we have a fixed navbar that is 50px tallles
 * textarea ne sont plus resizables */

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

h1 {
  font-size: 25px;
}

textarea {
  resize:none;
}

/* Style for valid or Invalid form entry */
input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}

.ui-title {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-control {
  z-index: 0;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}

.form-signin > .form-signin-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-signin > .form-control,
.form-signin > .form-control:focus {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  z-index: 3;
}

#mail {
  margin-bottom: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#pass {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin > .form-control .btn-primary {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.numpad {
  width: 100%;
  padding: 2px 5px 2px 5px;
}

.numkey {
  width: 45px;
  height: 45px;
}

/* Ventes.php */
.ors_btn_pay {
  opacity: 0.5;
  color: #dddddd;
  font-weight: bold;
}

.ors_btn_pay.active, .ors_btn_pay:active {
  opacity: 1.0;
  color: #dddddd;
  font-weight: bold;
}

pre {
  display: block;
  font-family: inherit;
  padding: 0px;
  margin: 0 0 10px;
  font-size: inherit;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: transparent;
  border: 0px;
  border-radius: 0px;
}

.btn-num {
  margin-left: 8px;
  margin-top: 8px;
}

.list-group-item {
  padding: 5px 10px;
}

/* poubelles type */
.garbage.ultime-0::before,
.garbage.ultime-1::before {
  font-weight: bold;
  padding-left: 1px;
}

.garbage.ultime-0::before {
  content: "✕ Non";
}

.garbage.ultime-1::before {
  content: "✓ Oui";
}