/*
 * Oressource Cascading Style Sheet.
 */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

textarea {
  resize:none;
}

.chart {
 height:180px
}

.chart: first-child {
  position: relative;
}
