<?php

/*
  Oressource
  Copyright (C) 2014-2017  Martin Vert and Oressource devellopers

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

// Changer ces valeurs selon votre configuration de systeme de base de donnée.
$host = 'localhost';
$base = 'oressource';
$user = 'oressource';
$pass = 'hello';

// Configuration interne de Oressource
try {
  $bdd = new PDO("mysql:host=$host;dbname=$base;charset=utf8", $user, $pass, [
    PDO::ATTR_EMULATE_PREPARES => false,
    PDO::MYSQL_ATTR_DIRECT_QUERY => false,
    PDO::ATTR_DEFAULT_FETCH_MODE => PDO::FETCH_ASSOC,
    PDO::ATTR_STRINGIFY_FETCHES => false,
    PDO::ATTR_PERSISTENT => true,
    PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION
  ]);
} catch (PDOException $e) {
  die('Connexion échouée : ' . $e->getMessage());
}
global $bdd;
